<div id='container'>
  <canvas id="paper" width=1300px height="500px"></canvas>
  <h2>Pick a colour</h2>
</div>

<div id='color-pal'>
<div style="position:absolute;top:15%;left:10%;width:80px;height:80px;background:green;" id="green" onclick="colors(this)"></div>
<div style="position:absolute;top:15%;left:20%;width:80px;height:80px;background:blue;" id="blue" onclick="colors(this)"></div>
<div style="position:absolute;top:15%;left:30%;width:80px;height:80px;background:red;" id="red" onclick="colors(this)"></div>
<div style="position:absolute;top:15%;left:40%;width:80px;height:80px;background:yellow;" id="yellow" onclick="colors(this)"></div>
<div style="position:absolute;top:15%;left:50%;width:80px;height:80px;background:orange;" id="orange" onclick="colors(this)"></div>
<div style="position:absolute;top:15%;left:60%;width:80px;height:80px;background:black;" id="black" onclick="colors(this)"></div>
</div>
